body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, nav, main, footer {
    margin: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
  }
  
  .details {
    display: none;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  